div {
    background-color: #fff;
    margin: 10px 15px;
}

div h1 {
    padding: 10px;
    color: rgb(55, 55, 55);
    font-size: 25px;
    text-align: center;
}

div p {
    color: #4d37f3;
    margin-left: 75%;
    padding-bottom: 3%;
}
