.first {
    background-image: url(https://hdwallsource.com/img/2014/9/city-background-18299-18763-hd-wallpapers.jpg);
    display: flex;
    background-position:  center center;
    background-size: cover;
    height: 515px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
    color: #fff;
    font-size: 30px;
}

.second p {
    font-size: 20px;
    text-align: center;
}

