<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && myQuestion.errors}">
    <input type="text" name="question" [(ngModel)]="question" #myQuestion="ngModel" [disabled]="processing" placeholder="Your Question"
    />
    <div *ngIf="feedbackEnabled && myQuestion.errors">
      <p *ngIf="myQuestion.errors.required" class="validation">A question is required</p>
    </div>
  </div>


  <div *ngFor="let option of formOptions" class="field" [ngClass]="{'has-error': feedbackEnabled}">
    <input type="answer" [(ngModel)]="option.text" placeholder="Option" [ngModelOptions]="{standalone: true}" />
    <button (click)="handleDelete(option)">Delete</button>
  </div>
  
  <a  id="add" type="button" (click)="addOption()">Add option</a>
  

  <div class="field submit">
    <button id="submit" type="submit">Submit</button>
    <div *ngIf="feedbackEnabled && myForm.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
  </div>
</form>