/* HEADER */
img {
  width: 50px;
  height: auto;
  margin: 13px 6px -16px 16px;
}

.site-header {
  height: 13vh;
  background-image: linear-gradient(to right, #d43f8d 20%, #0250c5 100%);
  border-bottom: solid 2px #4d37f3;

}

.user {
  left: 66%;
  position: absolute;
  top: 9%;
}

.no-user {
  left: 69%;
  position: absolute;
  top: 9%;
}

.no-user a {
  color: #fff;
 font-size: 13px;
 padding-left: 5px;
}

.user a {
 color: #fff;
 font-size: 13px;
 padding-left: 5px;
}

.site-title {
     margin: 0;
}

.site-title a {
  color: #fff;
  font-size: 27px;
  padding-bottom: 10px;
}

/* MOBILE NAV */
.site-footer {
  height: 54px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: -9px;
  z-index: 9999;
}



.nav {
    height: 45px;
    background-color: rgb(236, 234, 234);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}

.nav-icon {
    font-size: 32px;
    color: rgb(125, 125, 125);
}

.add {
    font-size: 45px;
    color: rgb(125, 125, 125);
}
.nav-icon:active {
  color: #0250c5
}

/* BODY */


button {
  color: #0250c5;
  font-weight: bold;
  border-style: none;
  border: solid #0250c5 2px;
  font-size: 90%;
  background: rgba(255, 255, 255, 0.2);
  margin: -10px 0 0 14px;
  width: 44%;
  height: 18%;
  padding: 9px;

}

button:hover {
  color: #fff;
  font-weight: bold;
  border-style: none;
  border: solid #0250c5 2px;
  font-size: 90%;
  background:#0250c5;
  margin: -10px 0 0 14px;
  width: 44%;
  height: 18%;
  padding: 9px;

}