<header class="site-header">

  <h1 class="site-title">
   
    <a [routerLink]="['/']">
      <img src="./assets/images/democrapp-logo.png" alt="Democrap Logo">
      DemocrApp
    
    </a>
  </h1>

  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div>
     <div class="user" *ngIf="!loading && !!user"> 
      <a (click)="profile()"> Hello {{user.name}}!</a>
      <a (click)="logout()">
        <span class="fas fa-power-off"></span>
      </a>
    </div>
    <div class="no-user" *ngIf="!loading && anon">
      <a (click)="login()">login</a>
      <a (click)="signup()">signup</a>
    </div>
  </div>

</header>

<router-outlet></router-outlet>

<footer class="site-footer">

  <nav>
    <div class="nav" *ngIf="!loading && !!user">
      <div>
      <a [routerLink]="['/polls']">
        <span class="far fa-file-alt nav-icon"></span>
      </a>
      </div>
      <div>
      <a [routerLink]="['/polls/create']">
        <span class="far fa-plus-square nav-icon add"></span>
      </a>
      </div>
      <div>
        <a [routerLink]="['/me']">
          <span class="fas fa-user nav-icon"></span>
        </a>
      </div>
      
    </div>
    <div *ngIf="!loading && anon">
      <button [routerLink]="['/polls']">discover polls</button>
      <button [routerLink]="['/signup']">start now</button>
    </div>
  </nav>
</footer>