<header class="site-header">

  <h1 class="site-title">
    <a [routerLink]="['/']">DemocrApp</a>
  </h1>

  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div>
     <div *ngIf="!loading && !!user"> 
      <a (click)="profile()">{{user.name}}</a>
      <a (click)="logout()">logout</a>
    </div>
    <div *ngIf="!loading && anon">
      <a (click)="login()">login</a>
      <a (click)="signup()">signup</a>
    </div>
  </div>
  <hr/>
</header>

<router-outlet></router-outlet>

<footer class="site-footer">
  <hr/>
  <nav>
    <a [routerLink]="['/polls']">polls</a>
    <div *ngIf="!loading && !!user">
      <a [routerLink]="['/polls/create']">create one</a>
      <a [routerLink]="['/me']">your polls</a>
    </div>
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/signup']">start now</a>
    </div>
  </nav>
  <p>copyright bcnweb0817</p>
</footer>